:root{
    --button-size: 30px;
    --button-margin: 5px;
}

form.led {
    display: inline;
}

button.led {
    width: var(--button-size);
    height: var(--button-size);
    margin-left: var(--button-margin);

    text-align: center;
    font-size: 10px;
}

button.color {
    background-color: gray;
    width: 60px;
    height: 30px;
    color: var(--color);
}

button.board {
    background-color: gray;
    width: 60px;
    height: 30px;
}